@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf);
}

:root {
  --colors-black: #000;
  --colors-white: #fff;
  --colors-orange: #f37a1f;
  --colors-gray: #b1b1b1;
  --colors-gray-light: #ededed;
  --colors-gray-dark: #1a202c;
  --colors-blue-light: #add8e6;
  --colors-red: red;
  --colors-overlay: rgba(0,0,0,0.5);
  font-family: Roboto-Regular;
  padding: 1.5vh 1.5vw;
  margin-left: 255px;
}

.sidenav {
  height: 100%;
  width: 255px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.sidenav a {
  padding: 0.75vh 0.5vw 0.75vh 2vw;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a.active{
  color: darkslategray;
}

.sidenav-login {
  color: #818181;
  background-color: #3d3d3d;
  display: flex
}
.sidenav-navigation .login-signup {
  background-color: #3d3d3d;
  color: rgb(158, 158, 158);
  display: flex;
  padding-top: 1.5vh;
}



.sidenav-navigation {
  justify-content: flex-start;
  flex-flow: column;
  background-color: #111;
  display: flex;
  flex: 1;
}


.dropdown {
    position: relative;
}
.dropdown button {
  padding: 0.75vh 0.5vw 0.75vh 1.75vw;
  background-color: rgba(0, 0, 0, 0);
  color: #818181;
  font-size: 18px;
  border: none;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.dropdown button:hover {
  color: #f1f1f1;
}

.sidenav-navigation .dropdown-button:active {
  color: darkslategray;
}
.sidenav-navigation .dropdown-content a:active{
  color: darkslategray;
}


.dropdown-content {
    display: none;
    position: relative;
    background-color: #111;
    border: none;
}

.dropdown-content a{
    padding: 0.75vh 0.5vw 0.75vh 3vw;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
}
.dropdown-content a:hover {
    color: #ddd;
}

.sidenav-navigation a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav-navigation {
    padding-top: 1vh;
  }

  .sidenav-navigation a,
  .sidenav-navigation .dropdown-button {
    font-size: 18px;
  }
}